@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: blanchedalmond;
}

body {
    background: #1e1e1e !important;
}

.intro {
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container.intro-container h1 {
    margin-bottom: 40px;
}

.container.intro-container p {
    text-align: center;
}

.intro-container h1{
    font-size: 24px;
    line-height: 32px;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-style: italic;
    color: #f3c623;
    text-transform: uppercase;
    animation: h1 2s infinite;
    animation-delay: calc(.1s * var(--i));
    -webkit-box-reflect: below -2px linear-gradient(transparent, rgba(0,0,0,.5));
    font-size: 24px;
}

@keyframes h1 {
    0%,40%,100% {
        transform: translateY(0)
}
    20% {
    transform: translateY(-20px)
    }
}

.intro-container h1:hover {
    color: #68c3a3;
    font-size: 40px;
}

.intro-container p {
    font-size: 64px;
    line-height: 44px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-style: italic;
    color: #f3c623;
    animation-name: zoomin;
    animation-duration: 3.5s;

}

@keyframes zoomin {
    0% {
        font-size: 20px;
    }
    
    100% {
        font-size: 64px;
    }
}

.intro-container p:hover {
    color: #68c3a3;
}

.scroll-downs {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width :34px;
    height: 55px;
}
  .mousey {
    width: 3px;
    padding: 9px 13px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 25px;
    box-sizing: content-box;
    cursor: pointer;
}
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

/*--------------ABOUT--------------*/

.container-fluid {
    padding-bottom: 5px;
}

.navbar-nav {
    padding-right: 5%;
}

.navbar-nav .nav-item a {
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
}

.nav-item {
    font-size: 13px;
}

ul:hover li a{
    transform:scale(1);
    opacity:0.2;
    filter:blur(1.5px);
}
  
ul li a:hover{
    transform:scale(1);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#f3c623 !important;
}

.navbar {
    background-color: #1e1e1e;
}

.navbar.navbar-expand-lg {
    padding-bottom: 0;
}

.rounded-pill {
    height: 50px;
}

.navbar-nav .nav-item a.active {
    color: #f3c623;
    font-weight: bold;
}

.nav-item .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.double-border {
    position: relative;
}
  
.double-border::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1x;
    border-bottom: 1px solid #ccc;
}

.double-border::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ccc;
}


button:focus,
button:active {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.horizontal-line {
    border-top: 1px solid;
    padding-bottom: 1px;
    color: #E8E8E8;
    
}

.col-about {
    padding-bottom: 80px;
}

.col-about-1 {
    padding-top: 70px;
}

.about .row, .work .row, .education .row, .skill .row, .contact .row {
    text-align: center;
    padding: 3rem 0;
}

.about .row h1, .work .row h1, .education .row h1, .skill .row h1, .contact .row h1 {
    color: #f3c623;
    margin-top: 50px;
}

.about-me {
    color: white;
}

.card {
    width: 300px;
    height: 400px;
    border-radius: 30px !important;
    background: #2b2b2b !important;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    margin-left: auto;
    margin-right: auto;
   }

.card img {
    width: 300px;
    height: 400px;
    border-radius: 30px;
}

.span {
    padding-top: 25px;
    padding-left: 15px;
}

.icon-text {
    display: inline-flex;
    align-items: center;
  }
  
.icon-text i {
    margin-right: 5px;
    color: #68c3a3;;
}

.icon-text p {
    margin-bottom: 0;
}

.icon-text:last-child {
    padding-bottom: 40px;
}


/*--------------WORK--------------*/

.work-bg {
    background-image: url("images/work-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.pk-timeline {
    position: relative
}

.pk-timeline:before {
    content: "";
    width: 2px;
    background-color: #eceeef;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2rem
}

@media (min-width:768px) {
    .pk-timeline:before {
        left: 50%
    }
}

.pk-tl-block {
    position: relative;
    padding: 1.5rem;
    padding-left: 2rem;
    margin-bottom: 1.5rem
}

.pk-tl-block:after {
    display: block;
    content: "";
    clear: both
}

.pk-tl-block:last-child {
    margin-bottom: 0
}

@media (min-width:768px) {
    .pk-tl-block {
        padding-left: 1.5rem;
        margin-bottom: 0
    }
}

.pk-tl-icon {
    width: 50px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 1.13rem;
    font-weight: 600;
    border-radius: 500px;
    background: #68c3a3;
    border: 5px solid #fff;
    box-shadow: 0 0 1px #ddd;
    position: absolute;
    top: 1.5rem;
    left: 9px
}

@media (min-width:768px) {
    .pk-tl-icon {
        top: calc(50% - 25px);
        left: calc(50% - 25px)
    }
}

.pk-tl-info {
    position: absolute;
    top: 1.5rem;
    left: 170px;
    color: white;

}

@media (min-width:768px) {
    .pk-tl-info {
        top: calc(50% - 25px);
        left: calc(50% + 50px)
    }
    .pk-tl-block:nth-child(odd) .pk-tl-info {
        right: calc(50% + 50px);
        left: auto
    }
}

.pk-tl-content {
    position: relative;
    background: darkgray;
    border-radius: .25rem;
    border: 1px solid #eceeef;
    box-shadow: 0 0 12px #eee;
    padding: .5rem;
    margin-left: 1.5rem;
    margin-top: 50px
}

@media (min-width:768px) {
    .pk-tl-content {
        width: 43%;
        margin: 0
    }
    .pk-tl-block:nth-child(odd) .pk-tl-content {
        float: right
    }
}

.pk-tl-avatar {
    width: 80px;
    height: 80px;
    padding: 5px;
    background: #fff;
    border: 1px solid #eceeef;
    border-radius: .25rem;
    position: absolute;
    top: -50px;
    left: 20px
}

.pk-tl-avatar img {
    width: 100%;
    height: 100%;
    border-radius: .25rem
}

@media (min-width:768px) {
    .pk-tl-avatar {
        top: calc(50% - 40px);
        right: -35px;
        left: auto
    }
    .pk-tl-block:nth-child(odd) .pk-tl-avatar {
        left: -35px;
        right: auto
    }
}

.pk-tl-content-text {
    background: grey;
    min-height: 100px;
    border-radius: .25rem;
    padding: 2.5rem 1.5rem 1.5rem;
    cursor: pointer;
}

.pk-tl-content-text:hover {
    background: #68c3a3;
}

.pk-tl-content-text p:last-child {
    margin-bottom: 0
}

@media (min-width:768px) {
    .pk-tl-content-text {
        padding: 1.5rem 3.5rem 1.5rem 1.5rem
    }
    .pk-tl-block:nth-child(odd) .pk-tl-content-text {
        padding: 1.5rem 1.5rem 1.5rem 3.5rem
    }
}

.pk-tl-content-media img {
    max-width: 100%;
    height: auto
}

/*--------------WORK EXPERIENCE--------------*/

.work p {
    margin: 0;
    padding-top: 10px;
}

.work-title {
    padding-top: 30px;
}

.work h4, .work p  {
    color: blanchedalmond;
}

.work-title i {
    padding-right: 10px;
}

.container .work .work {
    padding: 5rem 0;
}

/*--------------SKILL--------------*/

.skill-bg {
    background-image: url("images/skill-bg.avif");
    background-size: cover;
    background-repeat: no-repeat;
}

.skill .row, .work .row {
    margin:0;
}

.work-title i {
    color: green;
}

/*--------------BUTTON TO THE TOP--------------*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 30px;
}

#myBtn:hover {
    color: black !important;
}

/*--------------FOOTER--------------*/

.footer {
    background-color: #68c3a3;
    opacity: 0.8;
}

.footer .row p {
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
}

/*NEW CONTACT STYLE*/

.social-links,.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    background: white;
    margin: 5px;
    transition: 0.3s;
    justify-content: center;
  }
  
  .social-btn svg {
    height: 24px;
    width: 24px;
    margin-left: 6px;
  }
  
  .social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;
    font-family: 'Sigmar', cursive;
  }
  
  .social-btn:hover {
    width: 150px;
    border-radius: 5px;
    background: #68c3a3;
  }
  
  .social-btn:hover span {
    padding: 2px;
    width: 80px;
  }
  
  #youtube svg {
    fill: red;
  }
  
  #linkedin svg {
    fill: #0e76a8;
  }
  
  #github {
    fill: #333;
  }

#contact {
    padding-bottom: 40px
}
  
/*DOWNLOAD ME BUTTON*/

.row .download {
    background: #68c3a3;
    color: black;
    border: 3px solid #fff;
    border-radius: 50px;
    padding: 0.8rem 2rem;
    font: 18px "Margarine", sans-serif;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
    letter-spacing: 2px;
  }

  .download::before {
    content: "Click Me!";
    font-family: 'Sigmar', cursive;
  }
  
  .download:hover::before {
    content: "RESUME";
    font-family: 'Sigmar', cursive;
  }

  .download:hover {
    background: #bfe9da;
  }
  
  .name {
    width: 100%;
    text-align: center;
    padding: 0 0 3rem;
    padding-top: 4rem;
    font: 500 14px "Rubik", sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  }
  
  .button-parrot .parrot {
    position: absolute;
    width: 60px;
    text-align: center;
    animation: blink 0.8s infinite;
    color: red;
  }
  
  .button-parrot .parrot:before {
    content: "Click Me!";
  }
  
  .button-parrot .parrot:nth-child(1) {
    top: -30px;
    left: -40px;
    font: 12px/1 "Margarine", sans-serif;
    transform: rotate(-20deg);
    animation-duration: 0.5s;
  }
  
  .button-parrot .parrot:nth-child(2) {
    font: 12px/1 "Margarine", sans-serif;
    right: -40px;
    top: -20px;
    transform: rotate(15deg);
    animation-duration: 0.3s;
  }
  
  .button-parrot .parrot:nth-child(3) {
    font: 16px/1 "Margarine", sans-serif;
    top: -60px;
    left: 15px;
    transform: rotate(10deg);
    animation-duration: 1s;
  }
  
  .button-parrot .parrot:nth-child(4) {
    font: 18px/1 "Margarine", sans-serif;
    top: -70px;
    left: 95px;
    transform: rotate(2deg);
    animation-duration: 0.7s;
  }
  
  .button-parrot .parrot:nth-child(5) {
    font: 14px/1 "Margarine", sans-serif;
    top: 80px;
    left: 105px;
    transform: rotate(-20deg);
    animation-duration: 0.8s;
  }
  
  .button-parrot .parrot:nth-child(6) {
    font: 12px/1 "Margarine", sans-serif;
    top: 80px;
    left: 5px;
    transform: rotate(10deg);
    animation-duration: 1.2s;
  }
  
  .button-parrot button:hover .parrot:before {
    content: "Do it!";
    width: 70px;
  }
  
  @keyframes blink {
    25%, 75% {
      color: transparent;
    }
  
    40%, 60% {
      color: #fff;
    }
  }